<%- include("header") -%>
    <h1 style="text-align: center; color:#0f1d5e ;">About @Levi_Corporation</h1>
    <br><br>
    <h2 style="text-align: center; color:rgb(61, 36, 61);">Owner of @Levi_Corporation is Aryan Chauhan. Our company created this ToDo List for our users tasks.</h2>
    <h3 style="text-align: center; color:rgb(61, 36, 61);">If you want to contact to Aryan than you should mail at thakursaharsh8000@gmail.com</h3>
<%- include("footer") -%>