<html>
    <head>
        <title>ToDo List</title>
        <link rel="stylesheet" href="/css/styles.css">
        <style>
            .navBar {
                color: purple;
                background-color: rgba(77, 32, 122,0.5) ;
                margin: 20px;
                padding: 2px;
            }
            li {
                list-style: none;
                display: inline;
                text-transform: uppercase;
                padding: 10px;
            }
            li :hover{
                color: lightblue;
                transition: 0.5s;
            }
            a{
                color: rgb(14, 13, 13);
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="navBar">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/">ToDo List</a></li>
                <li><a href="/work">Work List</a></li>
            </ul>
        </div>